@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
#root {
  font-family: 'Inter', sans-serif;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}





.btn-dashed {
  font-family: 'Inter';
  color: #820014;
  font-size: 14px;
}

.person {
margin-top: 25px;
width: 90px;
height: 90px;
}


.profile_detail {
  padding-left: 100px;
  margin-top: -80px;
  font-size: 14px;
  font-family: 'inter', sans-serif;
}


.donation-text {
  margin-top: 30px;
  font-size: 14px;
}

.date {
  margin-top: 28px;
  position: fixed;
  margin-left: 20px;
}

.amount {
position: fixed;
  width: 100px;
  margin-top: 66px;
  margin-left: 20px;
}

.amount-txt {
  margin-left: 42px;
}

.radio {
  position: fixed;
  margin-top: 103px;
  margin-left: 20px;
}

.notes-txt {
margin-top: 80px;
}

.notes-field {
  position: fixed;
  margin-top: 205px;
  margin-left: 20px;
  width: 200px;
}


.notes-txt {
  margin-left: 50px;
  padding-bottom: 50px;
}

.custom-ok-button {
  background-color: #820014;
}

.custom-cancel-button {
  color:#820014;
  border: 0.7px solid#820014
}

