@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
#root {
  
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

* {
 font-family: 'Inter', sans-serif;
}




.btn-dashed {
  font-family: 'Inter';
  color: #820014;
  font-size: 14px;
}

.person {
margin-top: 25px;
width: 90px;
height: 90px;
}


.profile_detail {
  padding-left: 100px;
  margin-top: -80px;
  font-size: 14px;
  font-family: 'inter', sans-serif;
}


.donation {
  margin-top: 30px;
}

.d-input {
  margin-left: 120px;
  margin-top: -36px;
}

.a-txt {
  margin-left: 40px;
}

.a-input {
  margin-left: 120px;
  margin-top: -36px;
}

.a-i {
  width: 90px;
}

.p-input {
  margin-left: 120px;
  margin-top: -36px;
}

.n-txt {
  margin-left: 50px;
}

.n-input {
  margin-left: 120px;
  margin-top: -36px;
  margin-bottom: 50px;
}

.notes-field {
  width: 300px;

}
















.custom-ok-button {
  background-color: #820014;
}

.custom-cancel-button {
  color:#820014;
  border: 0.7px solid#820014
}

